#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
nav {
  text-align: center;
  margin: 1rem 0;
}
nav a {
  text-decoration: none;
  color: #333;
  margin: 0 1rem;
  font-weight: bold;
}
.login-container {
  text-align: center;
  margin-top: 2rem;
}
.login-container a {
  text-decoration: none;
  color: #fff;
  background-color: #007BFF;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}
.login-container a:hover {
  background-color: #0056b3;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
